:root {
  --color-dark: #0d8595;
  --color-offwhite: #f3e4d6;
  --color-light: #a8c6c8;
  --color-brown: #52433e;
  --color-light-shadow: #96b3b3;
  /* https://coolors.co/palette/0d8595-f3e4d6-a8c6c8-52433e-96b3b3 */
}

* {
  font-family: "Ubuntu", sans-serif;
  letter-spacing: 0.08em;
  font-weight: 500;
  margin: 0;
  background-color: var(--color-offwhite);
  color: var(--color-brown);
  line-height: 1.3;
}

.outframe {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-template-rows: auto;
  grid-auto-rows: minmax(100px, auto);
  width: 100vw;
  height: 100vh;
  background-color: var(--color-brown);
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background-image: url("./tyler-nix-HuneWvWYh-Y-unsplash.jpg");
  background-size: cover; /* this will resize the image to cover the entire div */
  background-position: center; /* this will center the image within the div */
}

#logo {
  text-align: center;
  color: var(--color-offwhite);
  background-color: rgba(13, 133, 149, 0.6);
  font-weight: 700;
  padding: 10% 50%;
  font-size: xx-large;
  border-radius: 5px;

}

.credit,
.credit > a {
  color: rgba(243, 228, 214, 0.7);
  background: none;
  margin-top: 220px;
  margin-bottom: 0;
  font-weight: 300;
  font-size: smaller;
}

.has-account > a {
  text-decoration: none;
  color: var(--color-dark);
}

.content,
.background-form-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.content {
  background-color: var(--color-brown);
}

p {
  margin-bottom: 20px;
}

.background-form-side {
  height: 90vh;
}

.intro-text {
  width: 80%;
}

.form-area {
  width: 80%;
  padding-left: 0;
  padding-top: 10px;
  padding-bottom: 20px;
  border-style: solid;
  border-color: var(--color-brown);
  border-radius: 5px;
  box-shadow: 2px 2px 2px var(--color-brown);
}

fieldset {
  display: grid;
  grid-template-columns: 0.7fr 1.2fr;
  border: none;
  background-color: none;
}

.footer {
  font-weight: 300;
  color: var(--color-offwhite);
  background-color: var(--color-brown);
}

label {
  margin: 5px 0px;
  display: flex;
  align-items: center;
}

input {
  background-color: white;
  width: 80%;
  margin: 5px 0px;
  border: 2px;
  border-style: solid;
  border-radius: 5px;
  box-shadow: none;
  padding: 8px;
}

input:focus {
  border-color: var(--color-light-shadow);
  outline: none;
}

input:invalid {
  border: 2px solid rgb(202, 64, 15)
}

input:focus:valid {
  border: var(--color-light-shadow) 2px solid;
}

input[type="checkbox"] {
  width: 5%;
  margin-right: 10px;
}

.checkbox {
  display: flex;
  justify-content: flex-start;
}

button[type="submit"] {
  background-color: var(--color-light);
  padding: 10px 40px;
  font-weight: 500;
  color: var(--color-brown);
  border: none;
  text-shadow: 1px 2px 4px var(--color-offwhite);
  box-shadow: 2px 2px 2px var(--color-light-shadow);
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.has-account {
  margin-left: 10px;
}
